.container-gallery{
    display: flex;
    flex-direction: column;
        gap: 10px;
        margin-bottom: 30%;
        align-items: center;
}
.search-container {
    display: flex;
    gap: 10px;
}
.search-container input[type="text"] {
    width: 250px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: border 0.3s ease;
}

.search-container input[type="text"]:focus {
    border: 1px solid #4f7cff;
}

.search-container button {
    background-color: #4f7cff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.load-more-btn{
    background-color: #4f7cff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.search-container button:hover {
    background-color: #3c63d0;
}

.loading-text {
    font-size: 14px;
    color: #555;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 90%;
}

/* Kart */
.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Bilgi alanı */
.card-info {
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    color: #444;
}

.card-info span {
    flex: 1 1 45%;
    margin: 5px 0;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: black;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
        box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
        box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
        box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
}